<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('原神秘境信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>秘境名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>地区ID：</label>
                                <input type="text" name="regionId"/>
                            </li>
                            <li>
                                <label>地区名称：</label>
                                <input type="text" name="regionName"/>
                            </li>
                            <li>
                                <label>入口ID：</label>
                                <input type="text" name="entranceId"/>
                            </li>
                            <li>
                                <label>入口名称：</label>
                                <input type="text" name="entranceName"/>
                            </li>
                            <li>
                                <label>秘境类型名称：</label>
                                <input type="text" name="domainText"/>
                            </li>
                            <li>
                                <label>推荐等级：</label>
                                <input type="text" name="recommendedLevel"/>
                            </li>
                            <li>
                                <label>解锁冒险等阶：</label>
                                <input type="text" name="unlockRank"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:domain:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:domain:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:domain:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:domain:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:domain:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:domain:remove')}]];
        var prefix = ctx + "system/domain";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "原神秘境信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '秘境ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '秘境名称'
                },
                {
                    field: 'regionId',
                    title: '地区ID'
                },
                {
                    field: 'regionName',
                    title: '地区名称'
                },
                {
                    field: 'entranceId',
                    title: '入口ID'
                },
                {
                    field: 'entranceName',
                    title: '入口名称'
                },
                {
                    field: 'domainType',
                    title: '秘境类型编码'
                },
                {
                    field: 'domainText',
                    title: '秘境类型名称'
                },
                {
                    field: 'description',
                    title: '秘境描述'
                },
                {
                    field: 'recommendedLevel',
                    title: '推荐等级'
                },
                {
                    field: 'recommendedElements',
                    title: '推荐元素类型'
                },
                {
                    field: 'unlockRank',
                    title: '解锁冒险等阶'
                },
                {
                    field: 'daysOfWeek',
                    title: '开放星期'
                },
                {
                    field: 'disorder',
                    title: '秘境规则'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>