<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('角色培养路线图')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>角色名称：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>角色称号：</label>
                                <input type="text" name="title"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/character";

        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "角色培养路线图",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'name',
                    title: '角色名称'
                },
                {
                    field: 'title',
                    title: '角色称号'
                },
                {
                    field: 'elementText',
                    title: '元素'
                },
                {
                    field: 'weaponText',
                    title: '武器类型'
                },
                {
                    field: 'rarity',
                    title: '星级',
                    formatter: function(value) {
                        if (value == 5) return '<span style="color:#f5a623;">★★★★★</span>';
                        if (value == 4) return '<span style="color:#a335ee;">★★★★</span>';
                        return value;
                    }
                },
                {
                    field: 'region',
                    title: '地区'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs" href="' + prefix + '/build/' + row.id + '"><i class="fa fa-road"></i>查看路线图</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
