<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GenshinRecommendWeaponMapper">
    
    <resultMap type="GenshinRecommendWeapon" id="GenshinRecommendWeaponResult">
        <result property="id"    column="id"    />
        <result property="characterId"    column="character_id"    />
        <result property="weaponId"    column="weapon_id"    />
        <result property="recommendDegree"    column="recommend_degree"    />
        <result property="remark"    column="remark"    />

        <result property="characterName"    column="characterName"    />
        <result property="weaponName"    column="weaponName"    />
    </resultMap>

    <sql id="selectGenshinRecommendWeaponVo">
        select w.id, w.character_id, w.weapon_id, w.recommend_degree, w.remark,
        c.name as characterName,
        wp.name as weaponName
        from genshin_recommend_weapon w
        left join genshin_character c on w.character_id = c.id
        left join weapons wp on w.weapon_id = wp.id
    </sql>

    <select id="selectGenshinRecommendWeaponList" parameterType="GenshinRecommendWeapon" resultMap="GenshinRecommendWeaponResult">
        <include refid="selectGenshinRecommendWeaponVo"/>
        <where>  
            <if test="characterId != null "> and w.character_id = #{characterId}</if>
            <if test="weaponId != null "> and w.weapon_id = #{weaponId}</if>
            <if test="recommendDegree != null  and recommendDegree != ''"> and w.recommend_degree = #{recommendDegree}</if>
        </where>
    </select>
    
    <select id="selectGenshinRecommendWeaponById" parameterType="Long" resultMap="GenshinRecommendWeaponResult">
        <include refid="selectGenshinRecommendWeaponVo"/>
        where w.id = #{id}
    </select>

    <insert id="insertGenshinRecommendWeapon" parameterType="GenshinRecommendWeapon" useGeneratedKeys="true" keyProperty="id">
        insert into genshin_recommend_weapon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="characterId != null">character_id,</if>
            <if test="weaponId != null">weapon_id,</if>
            <if test="recommendDegree != null">recommend_degree,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="characterId != null">#{characterId},</if>
            <if test="weaponId != null">#{weaponId},</if>
            <if test="recommendDegree != null">#{recommendDegree},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGenshinRecommendWeapon" parameterType="GenshinRecommendWeapon">
        update genshin_recommend_weapon
        <trim prefix="SET" suffixOverrides=",">
            <if test="characterId != null">character_id = #{characterId},</if>
            <if test="weaponId != null">weapon_id = #{weaponId},</if>
            <if test="recommendDegree != null">recommend_degree = #{recommendDegree},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGenshinRecommendWeaponById" parameterType="Long">
        delete from genshin_recommend_weapon where id = #{id}
    </delete>

    <delete id="deleteGenshinRecommendWeaponByIds" parameterType="String">
        delete from genshin_recommend_weapon where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>